body.terminal {
  --primary-color: #00ff00;
  --secondary-color: #00cc00;
  --highlight-color: #00ff00;
  --danger-color: #ff5555;
  --warning-color: #cccc00;
  --bg-light: #000000;
  --surface: #111111;
  --text-light: #ffffff;
  --text-dark: #ffffff;
  --text-muted: #cccccc;
  --border-color: #333333;
  --icon-contrast-bg: #f4f5f7;
  --transition-speed: 0.15s;

  font-family: "Source Code Pro", monospace;
}

body.terminal .group-container,
body.terminal .edit-mode-toggle,
body.terminal .drop-zone,
body.terminal .card-edit-button {
  border-radius: 2px;
}

body.terminal #dashboard.grid-view .card {
  border-radius: 2px;
}
